@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.career{
  background-image: url("./Assets/images/career-image.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navbar-mobile {
  -webkit-animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background: hsla(234, 21%, 17%, 0.975);
    backdrop-filter: blur(40.7742px);
}

@-webkit-keyframes slide-top {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-bg{
  background-color: transparent;
    backdrop-filter: saturate(100%) blur(5px);
}

.modal{
  transition: all .3s ease-in-out;
}

.modal.show{
   opacity: 1;
   pointer-events: visible;
}

.modal-content{
   transition: all .3s ease-in-out;
   transform: translateY(-200px);
}

.modal.show .modal-content{
   transform: translateY(0);
}